.App {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.form button {
  padding-left: 3rem;
  padding-right: 3rem;
}
.form p {
  background-color: orange;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 3rem;
  border-radius: 2rem;
  font-style: italic;
  font-weight: bolder;
}
